.anim {
    width: 100px;
    height: 100px;
    background-color: rgb(32, 173, 255);
    position: relative;
    top: 350px;
    left: 900px;
    animation-name: square;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes square {
    0% {
        background-color: rgb(32, 173, 255);
        position: relative;
        top: 350px;
        left: 900px;
    }
    25% {
        background-color: rgb(255, 0, 0);
        position: relative;
        top: 300px;
        left: 700px;
    }
    50% {
        background-color: rgb(255, 0, 234);
        position: relative;
        top: 250px;
        left: 900px;
    }
    72% {
        background-color: snow;
        position: relative;
        top: 200px;
        left: 850px;
    }
    100% {
        background-color: rgb(32, 173, 255);
        position: relative;
        top: 350px;
        left: 900px;
    }
}

.tex1 {
    color: royalblue;
    position: absolute;
    left: 920px;
    font-size: 50px;
}

.tex2 {
    color: orange;
    position: absolute;
    left: 879px;
    bottom: 1px;
    font-size: 40px;
}
