@font-face {
    @import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@600&family=Teko:wght@500&display=swap');
}



.ending {
    font-family: 'Encode Sans SC', sans-serif;
    font-family: 'Teko', sans-serif;
    color: rgb(236, 236, 0);
}


img {
    width: 300px;
    border-radius: 20px;
}