img {
    width: 300px;
    border-radius: 20px;
}

.hello {
    font-weight: bold;
    font-size: 30px;
    color: lime;
}

.hey {
    position: absolute;
    font-size: smaller;
    color:grey;
}

.wat {
    background-color: rgb(28, 210, 255);
    padding: 5%;
    width: 5%;
    height: 5%;
    position: absolute;
    right: 10%;
}

.but {
    position: absolute;
    align-items: center;
}

.wat :hover .but {
    transform:translateX(100%);
}

.secret {
    position: absolute;
    bottom: 1px;
}
